html {
  display: flex;
  background: rgb(255,178,227);
  background: linear-gradient(85deg, rgba(255,178,227,1) 0%, rgba(255,208,242,1) 68%, rgba(255,233,244,1) 100%);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 50px 150px;
}
